<div class="backgroundColor" id="about" style="padding-top: 50px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                <img src="/assets/resume/IMG_20240711_180327.jpg" alt="Profile Image" class="profile-image">
            </div >
            <div class="col-lg-6 col-md-12 col-sm-12 text-center text-light details" style="padding-left: 70px;">
                <h1 class="nameHi">Hi, I am</h1><br>
                <h1 class="name">{{ name }}</h1>
                <h2>
                    I am a <span class="role typing-animation">Full Stack Java Developer.</span>
                </h2>
                <p class="text-left detailsaboutme">
                    I am a motivated and versatile individual, always eager to take on new challenges. With a passion for learning, I am dedicated to delivering high-quality results. With a positive attitude and a growth mindset, I am ready to make a meaningful contribution and achieve great things.
                </p>
                <button type="button" class="btn checkresume" (click)="openResume($event)">
                    Check Resume
                </button>
            </div>
        </div>
    </div>
</div>
