<div class="experience" id="experience">
    <h1 class="text-center text-light">Experience</h1>
    <div class="boxes">
        <div class="box-content">
            <div class="boxinfosys">
                <!-- Company logo -->
                <img src="/assets/resume/logo.jpg" class="company-logo" >
                <div class="company-info">
                    <!-- Company name and duration -->
                    <p class="companyName">Neptune Information Solution Ltd</p>
                    <p class="companyDate">June 2021 - Aug 2024</p>
                    <!-- Job description -->
                    <p class="companyDescription">
                       * Developed scalable backend systems using Java, Spring Boot, and Microservices architecture. <br>
                       * Implemented RESTful APIs with Spring Boot, ensuring secure access using Spring Security and JWT. <br>
                       * Created responsive front-end applications using Angular and React, delivering smooth user experiences. <br>
                       * Proficiently handled server deployment and management for various applications.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
